VITE_SUI_PACKAGE_ID=PASTE_V4_PACKAGE_ID
VITE_SUI_PASSPORT_ID=PASTE_V4_DEMO_PASSPORT_ID
VITE_SUI_REPAIRER_CAP_ID=PASTE_V4_REPAIRER_CAP_ID
VITE_SUI_REGISTRAR_CAP_ID=PASTE_V4_REGISTRAR_CAP_ID
VITE_SUI_ADMIN_CAP_ID=PASTE_V4_ADMIN_CAP_ID
VITE_SUI_REGISTRY_ID=PASTE_V4_DEVICE_REGISTRY_ID
VITE_SUI_REPAIRER_ADDRESS=0xaf954872292bb1bf7afc5d746b29b7ec1a1f95edc4a38cd22f2c5f6504c24d6f
VITE_SUI_ISSUER_ADDRESS=0xaf954872292bb1bf7afc5d746b29b7ec1a1f95edc4a38cd22f2c5f6504c24d6f
